<footer class="footer">
    <div class="container">
        <div class="row">
    

            <!-- footer copyright -->
            <div class="col-12">
                <div class="footer__copyright">
                    <small><a target="_blank" href="https://www.linkedin.com/in/hophoet/">Student @hophoet</a></small>
                    <small><a target="_blank" href="https://www.linkedin.com/in/adébayor-ayena-4b5b75145/">Teacher Oracle Certified @adebayorayena</a></small>

                <!--	<ul>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                -->
                </div>
            </div>
            <!-- end footer copyright -->
        </div>
    </div>
</footer>